/*-- common css --*/
body {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #3b4045;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased; }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0px; }
h1 {
  font-size: 44px;
  line-height: 56px; }
h2 {
  font-size: 30px;
  line-height: 35px; }
#form_h2{
  font-size: 40px;
  line-height: 40px;
  font-weight: 700; }
h3 {
  font-size: 23px;
  line-height: 25px; }
h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400; }
p {
  font-size: 18px;
  line-height: 25px;
  margin: 0px; }
ul {
  padding: 0;
  margin: 0;
  list-style: none; }
a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }
.mt-100 {
  margin-top: 100px; }
.bg-1 {
  background-image: url(../images/call-to-action.jpg); }
.bg-opacity {
  position: relative; }
  .bg-opacity:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); }
a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none; }
a,
a:active,
a:focus,
a:active {
  text-decoration: none; }
.section {
  padding: 100px 0; }
/*-- custom text --*/
.text-center {
  text-align: center; }
/*-- custom btn --*/
.btn {
  border-radius: 0; }
.btn-main {
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  padding: 15px 40px;
  display: inline-block;
  background-color: #f9a743;
  -moz-box-shadow: 0 15px 40px rgba(249, 167, 68, 0.5);
  -webkit-box-shadow: 0 15px 40px rgba(249, 167, 68, 0.5);
  box-shadow: 0 15px 40px rgba(249, 167, 68, 0.5);
  background-image: -moz-linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
  background-image: linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%); }
  .btn-main:hover, .btn-main:focus {
    background-color: #f9a743;
    color: #fff; }
  .btn-main-sm {
    padding: 12px 35px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold; }
/*-- preloader --*/
#preloader-wrapper {
  background-color: #fff;
  bottom: auto;
  height: 100%;
  left: auto;
  position: fixed;
  right: auto;
  top: auto;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center; }
.pre-loader {
  width: 130px;
  height: 130px;
  background: #f9a743;
  border-radius: 50%;
  animation: loading 6s infinite reverse linear;
  position: relative;
  font-family: "themefisher-font" !important; }
  .pre-loader:before {
    content: "\f3bd";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    font-size: 40px;
    transform: translate(-50%, -50%);
    color: #fff; }
@keyframes loading {
  /*  */
  0% {
    box-shadow: inset 0 0 0 80px #f9a743; }
  8.49% {
    background: #f9a743;
    box-shadow: inset 0 0 0 160px #f9a743; }
  /* orange */
  8.5% {
    box-shadow: inset 0 0 0 0 #ff8133; }
  24.99% {
    background: #ff8133;
    box-shadow: inset 0 0 0 160px #ff8133; }
  /* yellow */
  25% {
    box-shadow: inset 0 0 0 0 #ffbe1a; }
  41.49% {
    background: #ffbe1a;
    box-shadow: inset 0 0 0 160px #ffbe1a; }
  /*  */
  41.5% {
    box-shadow: inset 0 0 0 0 #f9a743; }
  57.99% {
    background: #f9a743;
    box-shadow: inset 0 0 0 160px #f9a743; }
  /* blue */
  58% {
    box-shadow: inset 0 0 0 0 #00b5d9; }
  74.49% {
    background: #00b5d9;
    box-shadow: inset 0 0 0 160px #00b5d9; }
  /* purple */
  74.5% {
    box-shadow: inset 0 0 0 0 #9772e5; }
  90.99% {
    background: #9772e5;
    box-shadow: inset 0 0 0 160px #9772e5; }
  /*  */
  91% {
    box-shadow: inset 0 0 0 0 #f9a743; }
  100% {
    background: #f9a743;
    box-shadow: inset 0 0 0 80px #f9a743; } }
/*-- nav --*/
.navigation {
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px 50px;
  margin: 0;
  border: 0; }
  .navigation .navbar-brand {
    display: inline-block; }
  .navigation .navbar-toggler {
    background: #fff;
    outline: none;
    border-radius: 0;
    float: right; }
    .navigation .navbar-toggler i {
      font-size: 22px; }
.navbar-default {
  background-color:#ffffff !important;
}
.logo {
  display: inline-block; }
  .logo h1 {
    color: #444;
    font-size: 25px;
    margin: 0;
    line-height: 1; }
.menu {
  margin-top: 14px; }
  .menu li {
    display: inline-block;
    margin: 0 10px; }
    .menu li a {
      color: #444;
      font-size: 14px;
      font-weight: bold; }
      .menu li a:hover, .menu li a:focus {
        background: none; }
.nav-item {
  margin-top: 14px; }
  .nav li {
    display: inline-block;
    margin: 0 10px; }
    .nav li a {
      color: #444;
      font-size: 14px;
      font-weight: bold; }
      .nav li a:hover, .menu li a:focus {
        background: none;}
/*-- .hero-area --*/
.hero-area {
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero-area h1 {
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 19px;
    margin-top: 30px;
    line-height: 1.2; }
  .hero-area p {
    font-size: 20px;
    line-height: 1.3; }
  .hero-area .btn-main {
    margin-top: 30px; }
/*-- feature-area --*/
.feature-area {
  background: #f9a743;
  margin-top: 3em;
  padding-bottom: 1.5em;
  border-color: #ffff;
  border-width: 0 1.5em 0 1.5em;
  border-style: solid; }
.feature-area h2 {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }
.feature .feature-box {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;}
  .feature .feature-box i {
    font-size: 30px;
    margin-bottom: 10px;
    display: inline-block;
    color: #ffffff; }
  .feature .feature-box h4 {
    font-weight: bold;
    margin-bottom: 8px;
    color: #ffffff; }
  .feature .feature-box p {
    line-height: 1.4;
    color: #ffffff; }
  .feature .feature-box a {
    color: rgba(0,0,0,.5); }
  .feature-container {
  margin-left: 0px;
  margin-right: 0px;
}
/*-- footer --*/
.footer {
  text-align: center;
  background: #f4f4f4;
  padding: 50px 0px; }
  footer .footer-logo {
    color: #555; }
  footer p.copyright-text {
    font-weight: 300;
    font-size: 12px;
    color: #888;
    letter-spacing: 3px;
    margin-top: 15px; }
    footer p.copyright-text a {
      color: #282828; }
      footer p.copyright-text a:hover {
        text-decoration: none; }
.gitlab-logo-wht{
	font-size:3em;
	color: #ffffff;
}
.github-logo-wht{
	font-size:3em;
	color: #ffffff;
}
.gitlab-logo{
	font-size:3em;
	color: #f9a743;
}
.github-logo{
	font-size:3em;
	color: #f9a743;
}
